.animation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.vertical_line {
  position: relative;
  width: 190px;
}

.reverse {
  transform: scaleY(-1);
}

.vertical_line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #000;
  transform: translateX(20%);
}

.animated_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation-name: moveImage;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animated_image.reverse {
  animation-name: moveImageReverse;
}

@keyframes moveImage {
  0% {
    transform: translateY(100%);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes moveImageReverse {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes moveImageReverse {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveImageReverse {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
