.content {
  flex: 1.5;
  /* margin: 5rem; */
}
.content > h2 {
  font-size: var(--fontsize_large);
  margin-bottom: 1rem;
  font-weight: 400;
}

.content > p {
  font-weight: 400;
  color: #676767;
  font-size: var(--fontsize_small);
}

/* media queries for laptops */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .content h2 {
    font-size: var(--fontsize_headingLaptop);
    /* border: 1px solid red; */
  }
}

/* media queries for tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .content h2 {
    font-size: 3.6rem;
  }
}

/* media queries for phones */
@media screen and (max-width: 768px) {
  .content {
    margin: 1rem;
  }
  .content h2 {
    font-size: var(--fontsize_teamsubHeading);
    /* border: 1px solid red; */
  }
  .button {
    margin-left: 2rem;
  }
}
