.applyContainer {
  display: flex;
  justify-content: center;
  padding: 4rem 0rem 4rem 0rem;
}

.cardContainer {
  padding-top: 3rem;
  height: 600px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  .applyContainer {
    flex-direction: column-reverse;
    padding: 0rem;
    margin-bottom: 3rem;
  }
  .cardContainer {
    padding-top: 3rem;
  }

  .cardContainer h2 {
    font-size: 2rem;
  }
  .form {
    margin-top: 2rem;
    margin: 2rem;
  }
}
