.outerContainer {
  padding: 1rem;
  font-family: "Museo Sans", sans-serif;
  font-weight: 600;
  margin-left: 1.2rem;
  /* border: 1px solid black; */
}

.headingContainer > article > h4 {
  font-size: var(--fontsize_publication_title);
}

.innerContainer article {
  display: flex;
}

.innerContainer > article > span {
  padding-left: 6rem;
  opacity: 0.6;
  font-size: var(--fontsize_small);
  /* border: 1px solid black; */
}

.innerContainer > hr {
  max-width: 100%;
  margin-top: 0.5rem;
  color: "#555555";
  opacity: 0.6;
}
.headingContainer {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.headingContainer article:nth-child(2) {
  flex: 0 0 130px;
  margin-top: 0.35rem;
  /* border: 1px solid blue; */
}

.text {
  font-weight: 400;
  font-size: var(--fontsize_medium);
  /* padding-right: 4rem; */
  letter-spacing: 0.025rem;
}

.subHeading {
  font-family: "Museo Sans", sans-serif;
  font-size: var(--fontsize_medium);
  line-height: 28px;
  color: #555555;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

/* media query for laptop sizes */
@media screen and (min-width: 992px) and (max-width: 1360px) {
  .text {
    letter-spacing: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .outerContainer {
    margin-left: 0rem;
  }
  .headingContainer article:nth-child(2) {
    margin-top: -0.2rem;
  }
  .text {
    padding-right: 0rem;
  }
}
