.button {
  border: none;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-end;
  /* border-radius: 5px; */
  font-weight: 400;
  cursor: pointer;
}

/* media query for laptop sizes */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .button {
    height: 7.2vh;
    width: 190px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    height: 6vh !important;
  }
}
