.img {
  width: 100vw;
  height: fit-content;
}

.practice_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  padding: 1rem 2rem 1rem 6rem;
}

.card {
  /* background-color: #eee; */
  max-width: 80%;
  position: relative;
  padding: 10px;
  /* border: 1px solid black; */
}

.card:hover {
  border-bottom: 1px solid #950019;
  transition: border-bottom 0.3s ease-in-out;
}
.card::after {
  content: " \2192";
  color: #950019;
  font-size: 1.4rem;
  font-weight: bolder;
  position: absolute;
  top: 10%;
  right: -25px;
  transform: translateX(-50%) scale(0);
  transition: transform 0.2s ease-in-out;
}
.card:hover::after {
  transform: translateX(-50%) scale(1);
}

/* media query for tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .practice_cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 1rem 2rem 1rem 3rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1360px) {
  .practice_cards {
    padding: 1rem 4rem 1rem 4rem;
  }
  .card {
    max-width: 100%;
    padding: 10px;
    /* border: 1px solid black; */
  }
}

@media screen and (max-width: 768px) {
  .img {
    width: 100vw;
    object-fit: cover;
    min-height: 34vh;
  }
  .practice_cards {
    display: block;
    padding: 0;
  }
  .card {
    padding: 20px;
    max-width: 100%;
  }
}
